

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("")">
</div>
<div class="container">
  <h1>Meat#index</h1>
</div>

<p>Find me in app/views/meat/index.html.erb</p>

<% @meats.each do |meat| %>
<div class="col-xs-12 col-sm-4 col-xl-2">
  <div class="tile">
    <%= cl_image_tag meat.photo, height: 300, width: 400, crop: :fill  %>
    <div class="text">
      <h3><%= meat.display_name %></h3>
      <p><%= meat.summary %></p>
    </div>
  </div>
</div>
<% end %>

