<h1>Meat#index</h1>
<p>Find me in app/views/meat/index.html.erb</p>

<div class="banner">
  <div class="container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("/images/banner_happy_chinese.jpg");">

  </div>
</div>

<% @meats.each do |meat| %>
<div class="col-xs-12 col-sm-4 col-xl-2">
    <div class="card">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <div class="card__title"><%= meat.display_name %></div>
        <div class="card__text">
          <div><%= meat.summary %></div>
          <span><%= meat.location%></span><span><%= meat.price %> per hour</span>
        </div>
        <button class="btn btn--block card__btn">Meet This Meat!</button>
      </div>
    </div>
  <% end %>
</div>
