
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'banner_happy_chinese.jpg' %>')">
  <div class="container">
    <div class = "banner_text">
      <h1> Make Mom &amps; Pop Happy</h1>
      <h4> Come home for Chinese New Year with a prime placeholder husband or wife.</h4>
    </div>
  </div>
</div>

<div class="container">
  <% @meats.each_slice(3) do |batch| %>
    <div class="row">
      <% batch.each do |meat| %>
        <div class="col-xs-12 col-sm-4 col-xl-2">
          <%= render partial: 'card', locals: { meat: meat } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
