
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'banner_happy_chinese.jpg' %>')">
  <div class="container">
    <div class = "banner_text">
      <h1>让你的父母放心</h1>
      <h4>快过年了；点个小鲜肉吞食！</h4>
      <h4 style="color: #edc554;">New Year, Fresh Meat, Happy Parents.</h4>
      <p>Find your placeholder partner to bring home over the new year.</p>
    </div>
  </div>
</div>

<div class="container">
  <% @meats.each_slice(3) do |batch| %>
    <div class="row">
      <% batch.each do |meat| %>
        <div class="col-xs-12 col-sm-4 col-xl-2">
          <%= render partial: 'card', locals: { meat: meat } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
