<div class="wrapper">
  <div class="container">
    <div class="join-us_header">
      <h1>Fresh Meat. Prosperous Year.</h1>
      <h4>爽口.丰年</h4>
      <p><strong>Becoming meat</strong> is a test of an open mind and a thirst for adventure. Why not get paid to make new friends?</p>
    </div>
    <div class="instructions">
      <p>Fill out the following information to provide the best experience for both you and your matched host.</p>
    </div>
    <div>
      <%= render partial: 'become_meat_form', locals: { meat: @meat } %>
    </div>
  </div>
</div>
