<div class="wrapper">
  <div class="container">
    <div class="join-us-header">
      <h1> <strong class = "display">Fresh Meat</strong>, Prosperous Year. <span class = "display">爽口, 丰年</span></h1>
      <br>
      <p><strong>Becoming meat</strong>: why not get paid to make new friends through a test of an open mind and a thirst for adventure?</p>
    </div>
    <div class="instructions">
      <p>Fill out the following information to provide the best experience for both you and your matched host.</p>
    </div>
    <br>
    <hr>
    <br>
    <div>
      <%= render partial: 'shared/become_meat_form', locals: { meat: @meat } %>
    </div>
  </div>
</div>
