<div class="signin_wrapper">
  <div class="container">
    <div class="join-us-header blue-text">
      <h1> <strong class = "gold-text">Fresh Meat</strong>, Prosperous Year.  <span class = "gold-text">爽口, 丰年</span></h1>
      <br>
      <p><strong class = "gold-text">Becoming meat</strong> Why not get paid to make new friends through a test of an open mind and a thirst for adventure?</p>
    </div>
    <div class="instructions blue-text">
      <p>Fill out the following information to provide the best experience for both you and your matched host.</p>
    </div>
    <br>
    <br>
    <div>
      <%= render partial: 'shared/become_meat_form', locals: { meat: @meat } %>
    </div>
  </div>
</div>
