<div class="container">
    <div class="col-lg-offset-7 col-lg-5 col-md-offset-6 col-md-6">
        <div class="image-container">
          <div class="image-content">
            <img src="<%= @meat.photo %>" alt="" width="300">
          </div>


        <!---Buttom to "BOOK" -->

        <div style="margin-top:8px;margin-bottom:8px;">
          <div class="display">
            <button class="btn btn-danger btn-large _116810c disabled" data-reactid="24"><div class="_1kmbuys" data-reactid="25"><span data-reactid="26">Book</span></div></button>
          </div>
        </div>


          <div>
            <h2>Mr. Meat</h2>
            <p> Best date experience</p>
        </div>
          <div class="description-content">
            <h3>More about Meat 1</h3>
            <p class="text-center">
              I'm a Meat Meat Meat
              Ready to meet meet meet!
            </p>
          </div>
        <div class="stat">
          <div class="stat-content">
            <h3>3,536</h3>
            <p>matches</p>
          </div>
        </div>
        <div class="stat">
          <div class="stat-content">
            <h3>758</h3>
            <p>dates</p>
          </div>
          </div>
        <div class="stat">
          <div class="stat-content">
            <h3>119</h3>
            <p>reviews</p>
          </div>
          </div>
        <div class="description">
        </div>
      </div>
</div>


