// - - - - - - - BANNER

.banner {
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
  color: white;
  position: relative;
}

.banner_text
{
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow:
  h1 {
    color: $link;
    font-size: 55px;
    letter-spacing: 5px;
  }
}


// - - - - - - - - - - - MEATS CARDS

// $gray-darker:               #444444;
// $gray-dark:                 #696969;
// $gray:                      #999999;
// $gray-light:                #cccccc;
// $gray-lighter:              #ececec;
// $gray-lightest:             lighten($gray-lighter,4%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

// html {
//   background-color: #f0f0f0;
// }

body {
  margin: 0;
  color: $body;
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn-card {
  background-color: $meat;
  border: 1px solid $meat;
  //border-radius: 1rem;
  color: $tendon;
  padding: 0.5rem;
  text-transform: lowercase;
  letter-spacing: 3px;
}

.btn--block {
  display: block;
  width: 100%;
  margin-top: 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

// .cards__item {
//   display: flex;
//   padding: 1rem;
//   $media(min-width: 40rem) {
//     width: 50%;
//   }
//   $media(min-width: 56rem) {
//     width: 33.3333%;
//   }
// }

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 500px;
  margin-bottom: 20px;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

i {
  color: $meat;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  margin-top: 5px;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  // filter: contrast(70%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  // transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 230px;
  display: block;
  &::before {
    // content: "";
    display: block;
    padding-top: 56.25%; // 16:9 aspect ratio
  }
  @media(min-width: 40rem) {
    // &::before {
    //   padding-top: 66.6%; // 3:2 aspect ratio
    // }
  }
}

.card__image img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%
}

.card_header {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.card__title {
  // color: $body;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $meat;
}

.card__text {
  flex: 1 1 auto;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  padding: 10px;

  .card__summary {
    max-height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 40px;
  }
}

.location_price {
  // align-items: center;
  font-size: 12px;
}

hr {
  margin: 5px;
}

.main-profile {
  background: white;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0px;
}

.profile-content{
  margin-top: 20px;
  margin-bottom: 20px;
}

#image {
  width: 800px;
  position: sticky !important;
  margin-right: 30px;

}

.details {
  margin-top: 10px;

}
